
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hea1{

   background-color:#248D72 ;
   height: 700px;
 
   
   
}

.barra1{


    height: 90px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px 60px;
}

.barra1 img{

    width: 30px;
    height: 40px;
    margin: 0 5px;
}

.Pla{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
 
}

.pla2{

 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.FotosPlayas{

    height: 550px;

    display: flex;
    gap: 20px;
    margin: 0 20px;
}

.tunco1{
background-image: url(../img/el\ tunco.jpg);
background-size: cover;
height: 100%;
width: 400px;
}

.zunzal1{
background-image: url(../img/el\ zunsal.jpg);
background-size: cover;
height: 100%;
width: 400px;
}

.diego1{

background-image: url(../img/san\ diego.png);
background-size: cover;
height: 100%;
width: 400px;
}

.cuco1{

    background-image: url(../img/el\ cuco.jpg);
    background-size: cover;
    height: 100%;
    width: 400px;

}

.taquillo1{

background-image: url(../img/taquillo.jpg);
background-size: cover;
height: 100%;
width: 400px;

}

.principalPlaya{

   
    height: 950px;
   
}

.principalPlaya h1{

    padding-top: 30px;
    padding-left: 130px;
    
    font-family: 'Montserrat', sans-serif;
}

.Playas1{


    height: 750px;
   
    margin: 0 130px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   justify-content: center;
}

.f1{

    position: relative;

background-image: url(../img/el\ tunco.jpg);
background-size: cover;
height: 350px;
width: 500px;

border-top-left-radius : 40px ;
border-top-right-radius : 40px;
border-bottom-right-radius : 40px;
border-bottom-left-radius : 40px;

display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 40px;
padding-left: 40px;


}

.f2{

background-image: url(../img/taquillo.jpg);
background-size: cover;
height: 350px;
width: 500px;

border-top-left-radius : 40px ;
border-top-right-radius : 40px;
border-bottom-right-radius : 40px;
border-bottom-left-radius : 40px;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 40px;
padding-left: 40px;


}

.f3{
background-image: url(../img/san\ diego.png);
background-size: cover;
height: 350px;
width: 500px;

border-top-left-radius : 40px ;
border-top-right-radius : 40px;
border-bottom-right-radius : 40px;
border-bottom-left-radius : 40px;

display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 40px;
padding-left: 40px;
}

.f4{

background-image: url(../img/el\ cuco.jpg);
background-size: cover;
    height: 350px;
width: 500px;

border-top-left-radius : 40px ;
border-top-right-radius : 40px;
border-bottom-right-radius : 40px;
border-bottom-left-radius : 40px;

display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 40px;
padding-left: 40px;
}

.f5{
background-image: url(../img/el\ zunsal.jpg);
background-size: cover;
height: 350px;
width: 500px;

border-top-left-radius : 40px ;
border-top-right-radius : 40px;
border-bottom-right-radius : 40px;
border-bottom-left-radius : 40px;

display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 40px;
padding-left: 40px;
}

.PieFinal{

    background-color: #248D72;
    height: 100px;
    display: grid;
    grid-template-columns: 65% 35% ;
    
    
    
    
    
    }
    
    .SubPie{
    
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    
    }
    
    .SubPie img{
        width: 30px;
        height: 40px;
        margin: 0 5px;
    
    }
    
    .SubPie2{
    
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    grid-gap: 50px;
    }
    
    .SubPie2 p{
    
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
    
       
    }
    
    .SubPie2 img{
        width: 30px;
        height: 30px;
    
    }

    h2{

        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    
    h4{
        color: white;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    p{
    
        color: white;
        font-family: 'Montserrat', sans-serif;
 font-size: 13px;
 font-weight: 500;
    }

    .SubPie2 img:hover{

        transform: scale(1.25);
    }

    .ff1{

        position: relative;
        text-decoration: none;
    }

    .ff2{

        position: relative;
        text-decoration: none;

    }
    .ff3{

        position: relative;
        text-decoration: none;
    }

    .ff4{

        position: relative;
        text-decoration: none;

    }

    .ff5{

        position: relative;
        text-decoration: none;

    }

    .foto1hover{

        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 350px;
        width: 500px;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius : 40px ;
    border-top-right-radius : 40px;
    border-bottom-right-radius : 40px;
    border-bottom-left-radius : 40px;
    
    
    
    
    
    }
    
    .foto1hover h1{
       
        color: white;
        font-size: 44px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
       padding-top: 150px;
       animation-duration: 0.5s;
    
    
    }
    
    
    .ff1:hover .foto1hover{
    
        display: block;
    
    }

    .ff2:hover .foto1hover{

        display: block;
    }
    
    .ff3:hover .foto1hover{
    
        display: block;
    
    }

    .ff4:hover .foto1hover{

        display: block;
    }
    .ff5:hover .foto1hover{

        display: block;
    }
    


    .pla2:hover{
        transform: scale(1.25);
    }

    .pla2 a{

        width: 33%;
        height: 100%;
        display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }
    
    